html {
    scroll-behavior: smooth;
}
.header {
    background-color: white;
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}
.navigation {
    width: 420.48px;
    height: auto;
    margin-left: 50px;
    font-weight: 400;
    font-size: 18px;
}
.ul-header {
    display: flex; 
    padding: 0;
    margin: 0;
    list-style-type: circle;
}
.fch-head {
    list-style-type: none;
}
.glavnay-pravka {
    text-decoration: none;
}
.li-header {
    margin: 15px;
}    
.img-header {
    height: 105px;
}
.img-header-s {
    width: 148px;
    align-self: center;
}
.adresses-header {
    width: 240px;
    height: 98px;
    margin-left: 180px;
    margin-top: 15px;
    line-height: 24.3px;
    font-size: 18px;
    justify-self: end;
    margin-right: 50px;   
}
.cover {
    width: 1100px;
    height: 757px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.ono-tebe-nado {
    color: white;
    text-transform: uppercase;
    width: 1000px;
    height: 550px;
    margin-left: 50px;
    padding-top: 165px;
    line-height: 114.9999px; 
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30%;
}
.cover-tebe {
    margin-left: 330.5px;
}
.cover-nado {
    margin-left: 613px;
}
.discription {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 101px;
}
.text-cover-nl {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 90%;
    padding-top: 13.2px;
}
.button-cover {
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 100%, 0.9) !important;
    padding: 13px 26px;
    font-weight: 500;
    font-size: 22px;
}
.lot {
    width: 1052px;
    height: 723px;
    margin-left: 24px;
    margin-top: 180px;
}
.zag-lot {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
}
.table-lot {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
.article {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120%;
    margin-left: 40px;
    margin-top: 48px;
}
.lot-text-kino {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    width: 254px;
    height: 144px;
    margin-left: 40px;
    margin-bottom: 50px;
    color: rgb(230, 230, 230);
}
}
.first-lot {
    width: 334px;
    height: 596px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-lot {
    width: 334px;
    height: 596px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lot-text-kniga {
    width: 254px;
    height: 360px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgb(230, 230, 230);
    margin-bottom: 50px;
}
.article-is2 {
    height: 110px !important;
    width: 255px !important;
}
.fird-lot {
    width: 334px;
    height: 596px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article-is3 {
    width: 255px !important;

}
.lot-text-kartina {
    margin-left: 40px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    width: 254px;
    color: rgb(230, 230, 230);
}
.ssyl-posmotret-bolshe-pom {
    margin-top: 30px;
}
.ssyl-posmotret-bolshe {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
}
.about-akcion {
    width: 1052px;
    height: 595px;   
    margin-left: 24px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.ne-poniytno {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 240px;
    margin-top: 50px;
    margin-left: 47px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-section-3 {
    width: 148px;
    height: 114px;
    margin-top: 64px;
}
.info-akcion {
    width: 693px;
    height: 449px;
    margin-top: 133px;
}
.zag-akcion {
    width: 291px;
    height: 47px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}
.text-akcion {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.action-p-1 {
    width: 670px;
    height: 120px;
    margin-top: 103px;
}
.action-p-2 {
    width: 688px;
    height: 168px;
    margin-top: 24px;
}
.footer {
    width: 1100px;
    height: 180px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}
.footer-info {
    width: 264.58px;
    height: 98px;
    display: flex;
    flex-direction: column;
    line-height: 24.3px;
    margin-left: 50px;
}
.footer-info-text {
    font-weight: 400;
    font-size: 18px;
}
.footer-navigation {
    display: flex;
    flex-direction: column;
    width: 163.9px;
    height: 64px;
    text-align: center;
}
.footer-navigation-text {
    font-weight: 400;
    font-size: 18px;
}
.footer-info-text-glavnay {
    text-decoration: none;
}
.footer-social-seti {
    width: 240px;
    height: 48px;
    display: flex;
    gap: 48px;
    margin-right: 50px;
}
.img-social-ceti {
    width: 48px;
    height: 48px;
}